# front-end
# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

# back-end
# Dependencias de Node.js
backend/node_modules/

# Archivos de configuración de entorno
backend/.env

# Archivos de log
backend/*.log

# Archivos generados por el compilador
backend/dist/
backend/build/

# Archivos de sistema (macOS, Windows)
backend/.DS_Store
backend/Thumbs.db

